# Aplicação : Baixar dados do mercado secundário do site da ANBIMA

Conteúdo:

* Baixar arquivos de sites da internet usando o pacote `requests`
* Manipular datas usando o pacote `datetime`
* Configurar datas para o português usando o pacote `locale`
* Programação defensiva usando o comando `assert`
* Tratamento de uma base de dados difícil e real usando `pandas`
* Concatenação de dataframes usando `pandas`

## Parte 1: Baixar os dados

In [3]:
import requests
from datetime import date, timedelta
import locale

#Faz com que nome dos meses seja retornado em Português (ex.: Fev, ao invés de. Feb)
locale.setlocale(locale.LC_TIME, 'pt_BR.UTF-8')

'pt_BR.UTF-8'

In [23]:
hoje = date.today()
data = hoje - timedelta(1)

assert (hoje - data).days < 5, "ANBIMA só disponibiliza dados para os últimos 5 dias."

dia = data.strftime("%d")
mes = data.strftime("%b")
ano = data.strftime("%y")

download_link = f"https://www.anbima.com.br/informacoes/merc-sec/arqs/m{ano}{mes}{dia}.xls"
print(download_link)

https://www.anbima.com.br/informacoes/merc-sec/arqs/m23fev09.xls

In [24]:
r = requests.get(download_link)
print(r.status_code) # sucesso : 200

200

In [25]:
with open('ANBIMA.xls','wb') as f:
    f.write(r.content)

### Mesma coisa, em uma função

In [28]:
def baixar_dados_merc_sec(data):
    
    hoje = date.today()
    
    assert (hoje - data).days < 5, "ANBIMA só disponibiliza dados para os últimos 5 dias."
    
    dia = data.strftime("%d")
    mes = data.strftime("%b")
    ano = data.strftime("%y")
    
    download_link = f"https://www.anbima.com.br/informacoes/merc-sec/arqs/m{ano}{mes}{dia}.xls"
    r = requests.get(download_link)
    
    assert r.status_code == 200, "Falha ao realizar o download"
    
    nome_arquivo = f"ANBIMA_{ano}-{mes}-{dia}.xls"
    
    with open(nome_arquivo,'wb') as f:
        f.write(r.content)
    
    #Retornar o nome do arquivo será conveniente mais tarde
    return(nome_arquivo)

In [29]:
baixar_dados_merc_sec(data)

'ANBIMA_23-fev-09.xls'

## Parte 2 : Arrumar os dados

Vamos considerar a aba de NTN-B...

In [30]:
import pandas as pd

### Dados brutos, sem tratamento

In [31]:
df = pd.read_excel("ANBIMA.xls", sheet_name="NTN-B")
df

,Títulos Públicos Federais,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,09/Fev/2023
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Papel IPCA,NaN,NTN-B - Taxa (% a.a.)/252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Código SELIC,Data Base/Emissão,Data de Vencimento,Tx. Compra,Tx. Venda,Tx. Indicativas,PU,Intervalo Indicativo,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mínimo (D0),Máximo (D0),Mínimo (D+1),Máximo (D+1)
4,760100,2000-07-15 00:00:00,2023-03-15 00:00:00,4.872,4.82,4.8607,4128.949959,4.1873,7.873,3.6289,7.3415
5,760199,2000-07-15 00:00:00,2023-05-15 00:00:00,4.8871,4.8306,4.8555,4098.010168,4.4886,7.2334,3.9195,6.6848
6,760199,2000-07-15 00:00:00,2024-08-15 00:00:00,6.4519,6.4257,6.437,4121.906656,6.3715,7.1089,6.1525,6.8902
7,760199,2000-07-15 00:00:00,2025-05-15 00:00:00,6.0484,6.0178,6.03,4085.361217,5.8719,6.5527,5.7596,6.4405
8,760199,2000-07-15 00:00:00,2026-08-15 00:00:00,6.1529,6.1277,6.14,4128.003603,5.852,6.4501,5.857,6.4551
9,760199,2000-07-15 00:00:00,2027-05-15 00:00:00,6.1744,6.1495,6.1601,4064.485013,5.8193,6.4003,5.8573,6.4382
10,760199,2000-07-15 00:00:00,2028-08-15 00:00:00,6.2943,6.2682,6.2807,4096.806081,5.8951,6.4451,5.97,6.5201
11,760199,2000-07-15 00:00:00,2030-08-15 00:00:00,6.292,6.2639,6.2767,4085.820301,5.9123,6.4031,5.9949,6.4856
12,760199,2000-07-15 00:00:00,2032-08-15 00:00:00,6.3744,6.32,6.3483,4052.339444,6.0086,6.4612,6.09,6.5426
13,760199,2000-07-15 00:00:00,2033-05-15 00:00:00,6.4166,6.3743,6.3978,3974.202679,6.0714,6.5132,6.1466,6.5884
14,760199,2000-07-15 00:00:00,2035-05-15 00:00:00,6.4313,6.3928,6.4169,3954.703724,6.1107,6.5301,6.1812,6.6005
15,760199,2000-07-15 00:00:00,2040-08-15 00:00:00,6.4681,6.4358,6.4545,3965.898911,6.1797,6.5645,6.2434,6.6282
16,760199,2000-07-15 00:00:00,2045-05-15 00:00:00,6.4975,6.436,6.4719,3876.47031,6.2084,6.5765,6.2726,6.6409
17,760199,2000-07-15 00:00:00,2050-08-15 00:00:00,6.49,6.4473,6.4739,3915.295056,6.2186,6.5758,6.2824,6.6399
18,760199,2000-07-15 00:00:00,2055-05-15 00:00:00,6.4881,6.4423,6.4711,3844.785515,6.2232,6.574,6.2841,6.6352
19,760199,2000-07-15 00:00:00,2060-08-15 00:00:00,6.4909,6.4371,6.4697,3894.064472,6.2234,6.5694,6.286,6.6325
20,Quando uma taxa for interpolada será apresenta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Os preços unitários são calculados a partir da...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,"para o mês, à exceção do período entre o dia d...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,"mês anterior, divulgado pelo IBGE.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,"IPCA final para Janeiro : 0,53%",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

__Questões a serem tratadas__
* Cabeçalho da tabela está na linha 2
* Últimas 4 colunas do cabeçalho estão na linha 3
* Dados começam na linha 4
* Últimas 6 linhas não contêm dados

### Dados tratados

In [32]:
df = pd.read_excel("ANBIMA.xls", sheet_name="NTN-B", skiprows=3)
df.columns.values[-4:] = df.iloc[0,-4:]
df = df.iloc[1:-6,:]
df

,Código SELIC,Data Base/Emissão,Data de Vencimento,Tx. Compra,Tx. Venda,Tx. Indicativas,PU,Mínimo (D0),Máximo (D0),Mínimo (D+1),Máximo (D+1)
1,760100,2000-07-15,2023-03-15,4.8720,4.8200,4.8607,4128.949959,4.1873,7.873,3.6289,7.3415
2,760199,2000-07-15,2023-05-15,4.8871,4.8306,4.8555,4098.010168,4.4886,7.2334,3.9195,6.6848
3,760199,2000-07-15,2024-08-15,6.4519,6.4257,6.4370,4121.906656,6.3715,7.1089,6.1525,6.8902
4,760199,2000-07-15,2025-05-15,6.0484,6.0178,6.0300,4085.361217,5.8719,6.5527,5.7596,6.4405
5,760199,2000-07-15,2026-08-15,6.1529,6.1277,6.1400,4128.003603,5.852,6.4501,5.857,6.4551
6,760199,2000-07-15,2027-05-15,6.1744,6.1495,6.1601,4064.485013,5.8193,6.4003,5.8573,6.4382
7,760199,2000-07-15,2028-08-15,6.2943,6.2682,6.2807,4096.806081,5.8951,6.4451,5.97,6.5201
8,760199,2000-07-15,2030-08-15,6.2920,6.2639,6.2767,4085.820301,5.9123,6.4031,5.9949,6.4856
9,760199,2000-07-15,2032-08-15,6.3744,6.3200,6.3483,4052.339444,6.0086,6.4612,6.09,6.5426
10,760199,2000-07-15,2033-05-15,6.4166,6.3743,6.3978,3974.202679,6.0714,6.5132,6.1466,6.5884
11,760199,2000-07-15,2035-05-15,6.4313,6.3928,6.4169,3954.703724,6.1107,6.5301,6.1812,6.6005
12,760199,2000-07-15,2040-08-15,6.4681,6.4358,6.4545,3965.898911,6.1797,6.5645,6.2434,6.6282
13,760199,2000-07-15,2045-05-15,6.4975,6.4360,6.4719,3876.470310,6.2084,6.5765,6.2726,6.6409
14,760199,2000-07-15,2050-08-15,6.4900,6.4473,6.4739,3915.295056,6.2186,6.5758,6.2824,6.6399
15,760199,2000-07-15,2055-05-15,6.4881,6.4423,6.4711,3844.785515,6.2232,6.574,6.2841,6.6352

### Mesma coisa, em uma função

In [33]:
def arruma_base_merc_sec(path_arquivo):
    df = pd.read_excel(path_arquivo, sheet_name="NTN-B", skiprows=3)
    df.columns.values[-4:] = df.iloc[0,-4:]
    df = df.iloc[1:-6,:]
    return(df)

In [34]:
df = arruma_base_merc_sec("ANBIMA.xls")

#Salvar para usar depois
df.to_excel("ANBIMA.xlsx", index=False)

## Parte 3: Concatena dados de hoje a arquivo pré-existente

Vamos supor que o arquivo pré-existente seja o ANBIMA.xlsx

In [46]:
dados_historicos = pd.read_excel("ANBIMA.xlsx")
dados_historicos.head()

,Código SELIC,Data Base/Emissão,Data de Vencimento,Tx. Compra,Tx. Venda,Tx. Indicativas,PU,Mínimo (D0),Máximo (D0),Mínimo (D+1),Máximo (D+1)
0,760100,2000-07-15,2023-03-15,4.8720,4.8200,4.8607,4128.949959,4.1873,7.8730,3.6289,7.3415
1,760199,2000-07-15,2023-05-15,4.8871,4.8306,4.8555,4098.010168,4.4886,7.2334,3.9195,6.6848
2,760199,2000-07-15,2024-08-15,6.4519,6.4257,6.4370,4121.906656,6.3715,7.1089,6.1525,6.8902
3,760199,2000-07-15,2025-05-15,6.0484,6.0178,6.0300,4085.361217,5.8719,6.5527,5.7596,6.4405
4,760199,2000-07-15,2026-08-15,6.1529,6.1277,6.1400,4128.003603,5.8520,6.4501,5.8570,6.4551

In [47]:
dados_historicos.shape

(15, 11)

In [48]:
path_dados_de_hoje = baixar_dados_merc_sec(date.today())
dados_de_hoje = arruma_base_merc_sec(path_dados_de_hoje)
dados_de_hoje.head()

,Código SELIC,Data Base/Emissão,Data de Vencimento,Tx. Compra,Tx. Venda,Tx. Indicativas,PU,Mínimo (D0),Máximo (D0),Mínimo (D+1),Máximo (D+1)
1,760100,2000-07-15,2023-03-15,4.5766,4.5466,4.5766,4131.653981,3.6289,7.3415,3.3347,7.0745
2,760199,2000-07-15,2023-05-15,4.5940,4.5561,4.5797,4102.382409,3.9195,6.6848,3.6358,6.4218
3,760199,2000-07-15,2024-08-15,6.3284,6.2992,6.3164,4130.522109,6.1525,6.8902,6.0314,6.7693
4,760199,2000-07-15,2025-05-15,5.9833,5.9627,5.9735,4091.869295,5.7596,6.4405,5.7031,6.3843
5,760199,2000-07-15,2026-08-15,6.1200,6.0923,6.1055,4134.163433,5.857,6.4551,5.8227,6.4208

In [49]:
dados_de_hoje.shape

(15, 11)

In [50]:
dados_historicos = pd.concat([dados_historicos, dados_de_hoje], axis=0)
dados_historicos.head()

,Código SELIC,Data Base/Emissão,Data de Vencimento,Tx. Compra,Tx. Venda,Tx. Indicativas,PU,Mínimo (D0),Máximo (D0),Mínimo (D+1),Máximo (D+1)
0,760100,2000-07-15,2023-03-15,4.8720,4.8200,4.8607,4128.949959,4.1873,7.873,3.6289,7.3415
1,760199,2000-07-15,2023-05-15,4.8871,4.8306,4.8555,4098.010168,4.4886,7.2334,3.9195,6.6848
2,760199,2000-07-15,2024-08-15,6.4519,6.4257,6.4370,4121.906656,6.3715,7.1089,6.1525,6.8902
3,760199,2000-07-15,2025-05-15,6.0484,6.0178,6.0300,4085.361217,5.8719,6.5527,5.7596,6.4405
4,760199,2000-07-15,2026-08-15,6.1529,6.1277,6.1400,4128.003603,5.852,6.4501,5.857,6.4551

In [51]:
from datetime import timedelta

In [52]:
dados_historicos.shape

(30, 11)

### Mesma coisa, em uma função

In [53]:
def atualiza_arquivo_historico(path_arquivo_historico):
    
    #Carrega dados históricos
    dados_historicos = pd.read_excel(path_arquivo_historico)
    
    #Carrega dados de hoje
    path_dados_de_hoje = baixar_dados_merc_sec(date.today())
    dados_de_hoje = arruma_base_merc_sec(path_dados_de_hoje)
    
    #Concatena dados de hoje aos dados históricos
    dados_historicos = pd.concat([dados_historicos, dados_de_hoje], axis=0)
    
    return(dados_historicos)

In [54]:
atualiza_arquivo_historico("ANBIMA.xlsx")

,Código SELIC,Data Base/Emissão,Data de Vencimento,Tx. Compra,Tx. Venda,Tx. Indicativas,PU,Mínimo (D0),Máximo (D0),Mínimo (D+1),Máximo (D+1)
0,760100,2000-07-15,2023-03-15,4.8720,4.8200,4.8607,4128.949959,4.1873,7.873,3.6289,7.3415
1,760199,2000-07-15,2023-05-15,4.8871,4.8306,4.8555,4098.010168,4.4886,7.2334,3.9195,6.6848
2,760199,2000-07-15,2024-08-15,6.4519,6.4257,6.4370,4121.906656,6.3715,7.1089,6.1525,6.8902
3,760199,2000-07-15,2025-05-15,6.0484,6.0178,6.0300,4085.361217,5.8719,6.5527,5.7596,6.4405
4,760199,2000-07-15,2026-08-15,6.1529,6.1277,6.1400,4128.003603,5.852,6.4501,5.857,6.4551
5,760199,2000-07-15,2027-05-15,6.1744,6.1495,6.1601,4064.485013,5.8193,6.4003,5.8573,6.4382
6,760199,2000-07-15,2028-08-15,6.2943,6.2682,6.2807,4096.806081,5.8951,6.4451,5.97,6.5201
7,760199,2000-07-15,2030-08-15,6.2920,6.2639,6.2767,4085.820301,5.9123,6.4031,5.9949,6.4856
8,760199,2000-07-15,2032-08-15,6.3744,6.3200,6.3483,4052.339444,6.0086,6.4612,6.09,6.5426
9,760199,2000-07-15,2033-05-15,6.4166,6.3743,6.3978,3974.202679,6.0714,6.5132,6.1466,6.5884
10,760199,2000-07-15,2035-05-15,6.4313,6.3928,6.4169,3954.703724,6.1107,6.5301,6.1812,6.6005
11,760199,2000-07-15,2040-08-15,6.4681,6.4358,6.4545,3965.898911,6.1797,6.5645,6.2434,6.6282
12,760199,2000-07-15,2045-05-15,6.4975,6.4360,6.4719,3876.470310,6.2084,6.5765,6.2726,6.6409
13,760199,2000-07-15,2050-08-15,6.4900,6.4473,6.4739,3915.295056,6.2186,6.5758,6.2824,6.6399
14,760199,2000-07-15,2055-05-15,6.4881,6.4423,6.4711,3844.785515,6.2232,6.574,6.2841,6.6352
1,760100,2000-07-15,2023-03-15,4.5766,4.5466,4.5766,4131.653981,3.6289,7.3415,3.3347,7.0745
2,760199,2000-07-15,2023-05-15,4.5940,4.5561,4.5797,4102.382409,3.9195,6.6848,3.6358,6.4218
3,760199,2000-07-15,2024-08-15,6.3284,6.2992,6.3164,4130.522109,6.1525,6.8902,6.0314,6.7693
4,760199,2000-07-15,2025-05-15,5.9833,5.9627,5.9735,4091.869295,5.7596,6.4405,5.7031,6.3843
5,760199,2000-07-15,2026-08-15,6.1200,6.0923,6.1055,4134.163433,5.857,6.4551,5.8227,6.4208
6,760199,2000-07-15,2027-05-15,6.1250,6.0976,6.1119,4073.364602,5.8573,6.4382,5.8092,6.3902
7,760199,2000-07-15,2028-08-15,6.2408,6.2183,6.2300,4107.832311,5.97,6.5201,5.9193,6.4695
8,760199,2000-07-15,2030-08-15,6.2338,6.2058,6.2200,4100.803428,5.9949,6.4856,5.9382,6.4289
9,760199,2000-07-15,2032-08-15,6.3263,6.2891,6.3097,4064.833270,6.09,6.5426,6.0514,6.5039
10,760199,2000-07-15,2033-05-15,6.3925,6.3392,6.3658,3985.304178,6.1466,6.5884,6.1147,6.5564
11,760199,2000-07-15,2035-05-15,6.4058,6.3754,6.3927,3964.435041,6.1812,6.6005,6.157,6.5763
12,760199,2000-07-15,2040-08-15,6.4445,6.4190,6.4303,3977.429412,6.2434,6.6282,6.2193,6.6039
13,760199,2000-07-15,2045-05-15,6.4725,6.4369,6.4557,3885.554459,6.2726,6.6409,6.2565,6.6246
14,760199,2000-07-15,2050-08-15,6.4792,6.4392,6.4570,3925.351229,6.2824,6.6399,6.2656,6.6228
15,760199,2000-07-15,2055-05-15,6.4800,6.4376,6.4573,3853.656622,6.2841,6.6352,6.2705,6.6212