# Cria base de dados para exemplo

* Uma observação para cada segundo entre 1-Jan-2021 até 28-Fev-2021.
* Um arquivo CSV para cada dia do mês (31 para Janeiro + 28 para Fevereiro = 59 no total)
* Colunas: _Timestamp_ + 5 colunas numéricas aleatórias + 1 coluna categórica

In [93]:
import pandas as pd
import numpy as np

dates = pd.date_range(start="1-1-2021", end="2-28-2021")

for dt in dates:
    ind_day = pd.date_range(start="%s 0:0:0"%dt.date(), end="%s 23:59:59"%dt.date(), freq="S")
    data = np.random.rand(len(ind_day), 5)

    cls = np.random.choice(["Class1", "Class2", "Class3", "Class4","Class5"], size=len(ind_day))

    df = pd.DataFrame(data=data, columns=["A", "B", "C", "D", "E"], index=ind_day)
    df["Type"] = cls

    df.to_csv("dask_dataframes/%s.csv"%dt.date())

In [94]:
import os
os.listdir("dask_dataframes/")

['2021-01-01.csv',
 '2021-01-02.csv',
 '2021-01-03.csv',
 '2021-01-04.csv',
 '2021-01-05.csv',
 '2021-01-06.csv',
 '2021-01-07.csv',
 '2021-01-08.csv',
 '2021-01-09.csv',
 '2021-01-10.csv',
 '2021-01-11.csv',
 '2021-01-12.csv',
 '2021-01-13.csv',
 '2021-01-14.csv',
 '2021-01-15.csv',
 '2021-01-16.csv',
 '2021-01-17.csv',
 '2021-01-18.csv',
 '2021-01-19.csv',
 '2021-01-20.csv',
 '2021-01-21.csv',
 '2021-01-22.csv',
 '2021-01-23.csv',
 '2021-01-24.csv',
 '2021-01-25.csv',
 '2021-01-26.csv',
 '2021-01-27.csv',
 '2021-01-28.csv',
 '2021-01-29.csv',
 '2021-01-30.csv',
 '2021-01-31.csv',
 '2021-02-01.csv',
 '2021-02-02.csv',
 '2021-02-03.csv',
 '2021-02-04.csv',
 '2021-02-05.csv',
 '2021-02-06.csv',
 '2021-02-07.csv',
 '2021-02-08.csv',
 '2021-02-09.csv',
 '2021-02-10.csv',
 '2021-02-11.csv',
 '2021-02-12.csv',
 '2021-02-13.csv',
 '2021-02-14.csv',
 '2021-02-15.csv',
 '2021-02-16.csv',
 '2021-02-17.csv',
 '2021-02-18.csv',
 '2021-02-19.csv',
 '2021-02-20.csv',
 '2021-02-21.csv',
 '2021-02-22.csv',
 '2021-02-23.csv',
 '2021-02-24.csv',
 '2021-02-25.csv',
 '2021-02-26.csv',
 '2021-02-27.csv',
 '2021-02-28.csv']

# Cria cluster do dask

In [95]:
from dask.distributed import Client

client = Client(n_workers=2, threads_per_worker=2, memory_limit="1GB")
client

C:\Users\felbu\anaconda3\lib\site-packages\distributed\node.py:160: UserWarning: Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the HTTP server on port 49168 instead
  warnings.warn(

# Lê base de dados

In [96]:
import dask.dataframe as dd

In [97]:
df = dd.read_csv('dask_dataframes/2021-*-*.csv')

In [98]:
df.head()

,Unnamed: 0,A,B,C,D,E,Type
0,2021-01-01 00:00:00,0.771390,0.418623,0.623215,0.401876,0.004995,Class3
1,2021-01-01 00:00:01,0.864748,0.440075,0.819741,0.478412,0.866750,Class5
2,2021-01-01 00:00:02,0.864099,0.997717,0.568261,0.435532,0.142110,Class2
3,2021-01-01 00:00:03,0.266226,0.246290,0.889184,0.231991,0.841046,Class2
4,2021-01-01 00:00:04,0.190853,0.347216,0.480630,0.422721,0.290855,Class3

In [99]:
df.tail()

,Unnamed: 0,A,B,C,D,E,Type
86395,2021-02-28 23:59:55,0.412063,0.018430,0.004757,0.023691,0.908250,Class5
86396,2021-02-28 23:59:56,0.398651,0.804245,0.545502,0.643793,0.715667,Class5
86397,2021-02-28 23:59:57,0.835641,0.489529,0.600274,0.920222,0.445715,Class2
86398,2021-02-28 23:59:58,0.839915,0.888782,0.354771,0.341346,0.971440,Class4
86399,2021-02-28 23:59:59,0.747639,0.139655,0.842183,0.567116,0.507573,Class2

In [100]:
df.dtypes

Unnamed: 0     object
A             float64
B             float64
C             float64
D             float64
E             float64
Type           object
dtype: object

In [101]:
df = df.rename(columns={'Unnamed: 0':'date'}).set_index('date')

In [102]:
df.head()

                            A         B         C         D         E    Type
date
2021-01-01 00:00:00  0.771390  0.418623  0.623215  0.401876  0.004995  Class3
2021-01-01 00:00:01  0.864748  0.440075  0.819741  0.478412  0.866750  Class5
2021-01-01 00:00:02  0.864099  0.997717  0.568261  0.435532  0.142110  Class2
2021-01-01 00:00:03  0.266226  0.246290  0.889184  0.231991  0.841046  Class2
2021-01-01 00:00:04  0.190853  0.347216  0.480630  0.422721  0.290855  Class3

In [103]:
df.tail()

                            A         B         C         D         E    Type
date
2021-02-28 23:59:55  0.412063  0.018430  0.004757  0.023691  0.908250  Class5
2021-02-28 23:59:56  0.398651  0.804245  0.545502  0.643793  0.715667  Class5
2021-02-28 23:59:57  0.835641  0.489529  0.600274  0.920222  0.445715  Class2
2021-02-28 23:59:58  0.839915  0.888782  0.354771  0.341346  0.971440  Class4
2021-02-28 23:59:59  0.747639  0.139655  0.842183  0.567116  0.507573  Class2

In [104]:
df.dtypes

A       float64
B       float64
C       float64
D       float64
E       float64
Type     object
dtype: object

In [105]:
df.columns

Index(['A', 'B', 'C', 'D', 'E', 'Type'], dtype='object')

In [106]:
#Não está como datetime!
df.index

Dask Index Structure:
npartitions=59
2021-01-01 00:00:00    object
2021-01-02 00:00:00       ...
                        ...
2021-02-28 00:00:00       ...
2021-02-28 23:59:59       ...
Name: date, dtype: object
Dask Name: sort_index, 295 tasks

In [132]:
df = dd.read_csv("dask_dataframes/2021-*-*.csv",
                 names=["date", "A", "B", "C", "D", "E", "Type"],
                 skiprows=1,
                 parse_dates=["date",]
                )

In [133]:
df.head()

,date,A,B,C,D,E,Type
0,2021-01-01 00:00:00,0.771390,0.418623,0.623215,0.401876,0.004995,Class3
1,2021-01-01 00:00:01,0.864748,0.440075,0.819741,0.478412,0.866750,Class5
2,2021-01-01 00:00:02,0.864099,0.997717,0.568261,0.435532,0.142110,Class2
3,2021-01-01 00:00:03,0.266226,0.246290,0.889184,0.231991,0.841046,Class2
4,2021-01-01 00:00:04,0.190853,0.347216,0.480630,0.422721,0.290855,Class3

In [134]:
df.dtypes

date    datetime64[ns]
A              float64
B              float64
C              float64
D              float64
E              float64
Type            object
dtype: object

# Delayed computation

## Exemplo 1

In [135]:
df['A'].max()

dd.Scalar<series-..., dtype=float64>

In [136]:
df['A'].max().compute()

0.9999996676628308

## Exemplo 2

In [137]:
df.groupby('Type').mean()

Dask DataFrame Structure:
                     A        B        C        D        E
npartitions=1
               float64  float64  float64  float64  float64
                   ...      ...      ...      ...      ...
Dask Name: truediv, 197 tasks

In [138]:
df.groupby('Type').mean().compute()

               A         B         C         D         E
Type
Class1  0.500021  0.500159  0.499956  0.499640  0.499770
Class2  0.499678  0.499987  0.499696  0.500180  0.499881
Class3  0.500175  0.499797  0.499966  0.500100  0.499826
Class4  0.500274  0.499719  0.500275  0.500228  0.500256
Class5  0.499999  0.500522  0.500138  0.500192  0.500234

## Exemplo 3

In [139]:
df['F'] = df['A'] + df['B']
df['F'] = df['F'] - df['F'].mean()
media = df['F'].mean()
media

dd.Scalar<series-..., dtype=float64>

In [140]:
media.compute()

-1.3143841877348196e-16

## Exceções (métodos com compute implícito)

In [141]:
df.head()

,date,A,B,C,D,E,Type,F
0,2021-01-01 00:00:00,0.771390,0.418623,0.623215,0.401876,0.004995,Class3,0.189947
1,2021-01-01 00:00:01,0.864748,0.440075,0.819741,0.478412,0.866750,Class5,0.304757
2,2021-01-01 00:00:02,0.864099,0.997717,0.568261,0.435532,0.142110,Class2,0.861750
3,2021-01-01 00:00:03,0.266226,0.246290,0.889184,0.231991,0.841046,Class2,-0.487550
4,2021-01-01 00:00:04,0.190853,0.347216,0.480630,0.422721,0.290855,Class3,-0.461997

In [142]:
df.tail()

,date,A,B,C,D,E,Type,F
86395,2021-02-28 23:59:55,0.412063,0.018430,0.004757,0.023691,0.908250,Class5,-0.569572
86396,2021-02-28 23:59:56,0.398651,0.804245,0.545502,0.643793,0.715667,Class5,0.202831
86397,2021-02-28 23:59:57,0.835641,0.489529,0.600274,0.920222,0.445715,Class2,0.325104
86398,2021-02-28 23:59:58,0.839915,0.888782,0.354771,0.341346,0.971440,Class4,0.728631
86399,2021-02-28 23:59:59,0.747639,0.139655,0.842183,0.567116,0.507573,Class2,-0.112771

In [143]:
#Cuidado
df.sample(frac=1e-5)

Dask DataFrame Structure:
                          date        A        B        C        D        E    Type        F
npartitions=59
                datetime64[ns]  float64  float64  float64  float64  float64  object  float64
                           ...      ...      ...      ...      ...      ...     ...      ...
...                        ...      ...      ...      ...      ...      ...     ...      ...
                           ...      ...      ...      ...      ...      ...     ...      ...
                           ...      ...      ...      ...      ...      ...     ...      ...
Dask Name: sample, 652 tasks

In [144]:
df.sample(frac=1e-5).compute()

,date,A,B,C,D,E,Type,F
42468,2021-01-01 11:47:48,0.462923,0.540652,0.611290,0.165053,0.618305,Class5,0.003509
11786,2021-01-02 03:16:26,0.563997,0.999124,0.004403,0.336384,0.840461,Class2,0.563055
74913,2021-01-03 20:48:33,0.375349,0.946426,0.849838,0.845396,0.744662,Class3,0.321709
70103,2021-01-04 19:28:23,0.085109,0.347640,0.677882,0.384983,0.086745,Class3,-0.567316
23517,2021-01-05 06:31:57,0.710931,0.538663,0.026305,0.306726,0.855716,Class2,0.249529
78883,2021-01-06 21:54:43,0.634284,0.228821,0.274427,0.687960,0.784981,Class5,-0.136961
9835,2021-01-07 02:43:55,0.864179,0.010765,0.947466,0.846413,0.899201,Class4,-0.125122
36174,2021-01-08 10:02:54,0.809037,0.001634,0.750501,0.740311,0.268889,Class5,-0.189395
68373,2021-01-09 18:59:33,0.839179,0.750887,0.459599,0.188967,0.965038,Class2,0.590001
78160,2021-01-10 21:42:40,0.647971,0.400651,0.464043,0.073004,0.877701,Class5,0.048557
6572,2021-01-11 01:49:32,0.278298,0.108608,0.491703,0.754054,0.199825,Class2,-0.613160
45810,2021-01-12 12:43:30,0.219052,0.767811,0.310064,0.572301,0.565838,Class1,-0.013203
63279,2021-01-13 17:34:39,0.268936,0.241484,0.355587,0.248621,0.621614,Class4,-0.489646
73494,2021-01-14 20:24:54,0.676949,0.851189,0.828678,0.750612,0.493588,Class3,0.528072
53766,2021-01-15 14:56:06,0.820670,0.873303,0.198136,0.119827,0.809150,Class1,0.693907
28000,2021-01-16 07:46:40,0.380367,0.600202,0.508372,0.520015,0.997830,Class5,-0.019498
27621,2021-01-17 07:40:21,0.896634,0.565254,0.355391,0.893377,0.107743,Class1,0.461822
16533,2021-01-18 04:35:33,0.417389,0.047506,0.325930,0.300739,0.393735,Class1,-0.535171
8780,2021-01-19 02:26:20,0.942562,0.426502,0.841372,0.079389,0.672646,Class5,0.368999
22780,2021-01-20 06:19:40,0.781185,0.132715,0.107903,0.400212,0.843403,Class5,-0.086165
57778,2021-01-21 16:02:58,0.382373,0.087545,0.476883,0.126060,0.504151,Class3,-0.530148
2276,2021-01-22 00:37:56,0.058697,0.544717,0.169196,0.717215,0.987384,Class1,-0.396652
1213,2021-01-23 00:20:13,0.303951,0.731121,0.579217,0.485748,0.279844,Class5,0.035006
23405,2021-01-24 06:30:05,0.970229,0.907305,0.512524,0.732501,0.264009,Class3,0.877468
31340,2021-01-25 08:42:20,0.085064,0.582022,0.701884,0.486059,0.830063,Class4,-0.332980
7908,2021-01-26 02:11:48,0.539238,0.041867,0.966208,0.473133,0.561270,Class2,-0.418960
34671,2021-01-27 09:37:51,0.548758,0.728576,0.688240,0.208657,0.840866,Class4,0.277268
58024,2021-01-28 16:07:04,0.695510,0.631417,0.812246,0.406454,0.527905,Class1,0.326861
13377,2021-01-29 03:42:57,0.403548,0.685281,0.368055,0.125723,0.972183,Class1,0.088763
47106,2021-01-30 13:05:06,0.541548,0.413549,0.321765,0.689284,0.148970,Class2,-0.044969
47069,2021-01-31 13:04:29,0.410300,0.157779,0.566189,0.885704,0.486857,Class5,-0.431986
7001,2021-02-01 01:56:41,0.504624,0.609509,0.228390,0.982568,0.793322,Class2,0.114066
85082,2021-02-02 23:38:02,0.213380,0.700458,0.526338,0.794161,0.155026,Class4,-0.086228
3725,2021-02-03 01:02:05,0.841454,0.448380,0.142465,0.865804,0.085875,Class2,0.289768
59837,2021-02-04 16:37:17,0.761615,0.573451,0.127763,0.129186,0.277514,Class5,0.335000
67595,2021-02-05 18:46:35,0.430386,0.693681,0.229165,0.413907,0.058672,Class2,0.124001
65148,2021-02-06 18:05:48,0.436062,0.112841,0.110591,0.954339,0.878482,Class1,-0.451163
45383,2021-02-07 12:36:23,0.427148,0.222581,0.487833,0.195602,0.402962,Class2,-0.350337
12294,2021-02-08 03:24:54,0.342654,0.490796,0.653855,0.790343,0.377613,Class4,-0.166616
34602,2021-02-09 09:36:42,0.553607,0.783525,0.484501,0.876949,0.721888,Class3,0.337066
65694,2021-02-10 18:14:54,0.818215,0.888153,0.584347,0.454831,0.325861,Class2,0.706302
42052,2021-02-11 11:40:52,0.988915,0.210069,0.124105,0.130833,0.308532,Class4,0.198918
57637,2021-02-12 16:00:37,0.798599,0.052958,0.543288,0.620875,0.676792,Class5,-0.148509
10705,2021-02-13 02:58:25,0.346586,0.168356,0.547903,0.399769,0.363001,Class5,-0.485124
6488,2021-02-14 01:48:08,0.765778,0.161454,0.620892,0.897516,0.769622,Class5,-0.072834
10621,2021-02-15 02:57:01,0.274192,0.894252,0.905934,0.724481,0.834457,Class5,0.168378
57446,2021-02-16 15:57:26,0.516464,0.285451,0.550861,0.867543,0.314060,Class3,-0.198151
50738,2021-02-17 14:05:38,0.930052,0.383824,0.023767,0.993026,0.936442,Class4,0.313811
60308,2021-02-18 16:45:08,0.054478,0.189225,0.764810,0.767000,0.333568,Class1,-0.756362
39970,2021-02-19 11:06:10,0.925266,0.831236,0.066052,0.184982,0.754711,Class4,0.756436
53891,2021-02-20 14:58:11,0.393175,0.808345,0.540441,0.214201,0.394112,Class1,0.201454
52343,2021-02-21 14:32:23,0.827121,0.636832,0.666178,0.685758,0.422037,Class1,0.463888
49824,2021-02-22 13:50:24,0.139605,0.030459,0.264479,0.439791,0.302510,Class4,-0.830002
18672,2021-02-23 05:11:12,0.997366,0.996638,0.467982,0.302038,0.918465,Class5,0.993939
83953,2021-02-24 23:19:13,0.397759,0.199200,0.835972,0.142963,0.407489,Class2,-0.403107
52988,2021-02-25 14:43:08,0.875986,0.712189,0.897097,0.606473,0.923652,Class1,0.588110
36686,2021-02-26 10:11:26,0.482636,0.508841,0.437472,0.137123,0.180060,Class2,-0.008589
53670,2021-02-27 14:54:30,0.338412,0.181734,0.326409,0.989524,0.944648,Class2,-0.479921
44734,2021-02-28 12:25:34,0.725296,0.168105,0.560241,0.402575,0.902389,Class3,-0.106665

# Semelhanças com pandas

A grande vantagem de Dask sobre, por exemplo, Spark

## Filtrar linhas

In [145]:
df_1 = df[df.Type == 'Class1']

In [146]:
df_1.head()

,date,A,B,C,D,E,Type,F
7,2021-01-01 00:00:07,0.827363,0.478525,0.826150,0.728583,0.134825,Class1,0.305822
10,2021-01-01 00:00:10,0.412788,0.630448,0.956777,0.235059,0.896744,Class1,0.043170
15,2021-01-01 00:00:15,0.827425,0.857359,0.754480,0.996289,0.672775,Class1,0.684719
53,2021-01-01 00:00:53,0.825701,0.899504,0.264561,0.261113,0.267173,Class1,0.725139
59,2021-01-01 00:00:59,0.737701,0.734716,0.432248,0.316197,0.834699,Class1,0.472350

## Selecionar colunas

In [147]:
df_num = df[['A','B','C','D','E','F']]

In [148]:
df_num.head()

          A         B         C         D         E         F
0  0.771390  0.418623  0.623215  0.401876  0.004995  0.189947
1  0.864748  0.440075  0.819741  0.478412  0.866750  0.304757
2  0.864099  0.997717  0.568261  0.435532  0.142110  0.861750
3  0.266226  0.246290  0.889184  0.231991  0.841046 -0.487550
4  0.190853  0.347216  0.480630  0.422721  0.290855 -0.461997

## Estatísticas simples

In [149]:
df.A.mean().compute()

0.5000292140315263

## Group by

In [154]:
df[['Type','A','B','C']].groupby('Type').agg(['mean','std']).compute()

               A                   B                   C
            mean       std      mean       std      mean       std
Type
Class1  0.500021  0.288660  0.500159  0.288619  0.499956  0.288754
Class2  0.499678  0.288692  0.499987  0.288781  0.499696  0.288975
Class3  0.500175  0.288799  0.499797  0.288944  0.499966  0.288800
Class4  0.500274  0.288835  0.499719  0.288691  0.500275  0.288721
Class5  0.499999  0.288547  0.500522  0.289014  0.500138  0.288558

# Resampling

In [205]:
df_hora = df.resample("1H")

In [206]:
df_media_hora = df_hora.mean()

In [207]:
df_media_hora

Dask DataFrame Structure:
                           A        B        C        D        E        F
npartitions=59
2021-01-01 00:00:00  float64  float64  float64  float64  float64  float64
2021-01-02 00:00:00      ...      ...      ...      ...      ...      ...
...                      ...      ...      ...      ...      ...      ...
2021-02-28 00:00:00      ...      ...      ...      ...      ...      ...
2021-02-28 23:00:00      ...      ...      ...      ...      ...      ...
Dask Name: resample, 889 tasks

In [208]:
df_media_hora.head()

,A,B,C,D,E,F
date,,,,,,
2021-01-01 00:00:00,0.502897,0.501565,0.503678,0.497192,0.500488,0.004396
2021-01-01 01:00:00,0.497565,0.495480,0.498473,0.503440,0.500186,-0.007021
2021-01-01 02:00:00,0.498016,0.505579,0.502972,0.504882,0.495799,0.003529
2021-01-01 03:00:00,0.498847,0.502555,0.501540,0.497835,0.503687,0.001336
2021-01-01 04:00:00,0.504765,0.487040,0.502415,0.504662,0.501845,-0.008261

# Partições

In [179]:
df.npartitions

59

In [155]:
df.partitions[0]

Dask DataFrame Structure:
                         date        A        B        C        D        E    Type        F
npartitions=1
               datetime64[ns]  float64  float64  float64  float64  float64  object  float64
                          ...      ...      ...      ...      ...      ...     ...      ...
Dask Name: blocks, 594 tasks

In [156]:
df.partitions[0].head()

,date,A,B,C,D,E,Type,F
0,2021-01-01 00:00:00,0.771390,0.418623,0.623215,0.401876,0.004995,Class3,0.189947
1,2021-01-01 00:00:01,0.864748,0.440075,0.819741,0.478412,0.866750,Class5,0.304757
2,2021-01-01 00:00:02,0.864099,0.997717,0.568261,0.435532,0.142110,Class2,0.861750
3,2021-01-01 00:00:03,0.266226,0.246290,0.889184,0.231991,0.841046,Class2,-0.487550
4,2021-01-01 00:00:04,0.190853,0.347216,0.480630,0.422721,0.290855,Class3,-0.461997

In [160]:
df = df.set_index('date')

In [173]:
df_hora = df.repartition(freq="1H")

In [174]:
df_hora.npartitions

1416

In [175]:
#Visualmente, não muda nada
df_hora.head()

,A,B,C,D,E,Type,F
date,,,,,,,
2021-01-01 00:00:00,0.771390,0.418623,0.623215,0.401876,0.004995,Class3,0.189947
2021-01-01 00:00:01,0.864748,0.440075,0.819741,0.478412,0.866750,Class5,0.304757
2021-01-01 00:00:02,0.864099,0.997717,0.568261,0.435532,0.142110,Class2,0.861750
2021-01-01 00:00:03,0.266226,0.246290,0.889184,0.231991,0.841046,Class2,-0.487550
2021-01-01 00:00:04,0.190853,0.347216,0.480630,0.422721,0.290855,Class3,-0.461997

In [213]:
df_semana = df.repartition(freq='7D')
df_semana.npartitions

9

In [210]:
#Aplicar uma função a cada partição
df_semana.manpartitionsartitions(lambda x: x.A.mean())

Dask Series Structure:
npartitions=59
2021-01-01 00:00:00    float64
2021-01-02 00:00:00        ...
                        ...
2021-02-28 00:00:00        ...
2021-02-28 23:59:59        ...
dtype: float64
Dask Name: lambda, 770 tasks

In [215]:
df_semana.map_partitions(lambda x: x.A.mean()).compute()

0    0.499922
1    0.499982
2    0.500394
3    0.499533
4    0.500046
5    0.499716
6    0.500151
7    0.500322
8    0.500296
dtype: float64

# O dashboard do Dask

(mostrar o dashboard)