# Cria base de dados para exemplo

* Uma observação para cada segundo entre 1-Jan-2021 até 28-Fev-2021.
* Um arquivo CSV para cada dia do mês (31 para Janeiro + 28 para Fevereiro = 59 no total)
* Colunas: _Timestamp_ + 5 colunas numéricas aleatórias + 1 coluna categórica

In [93]:
import pandas as pd
import numpy as np

dates = pd.date_range(start="1-1-2021", end="2-28-2021")

for dt in dates:
    ind_day = pd.date_range(start="%s 0:0:0"%dt.date(), end="%s 23:59:59"%dt.date(), freq="S")
    data = np.random.rand(len(ind_day), 5)

    cls = np.random.choice(["Class1", "Class2", "Class3", "Class4","Class5"], size=len(ind_day))

    df = pd.DataFrame(data=data, columns=["A", "B", "C", "D", "E"], index=ind_day)
    df["Type"] = cls

    df.to_csv("dask_dataframes/%s.csv"%dt.date())

In [94]:
import os
os.listdir("dask_dataframes/")

['2021-01-01.csv',
 '2021-01-02.csv',
 '2021-01-03.csv',
 '2021-01-04.csv',
 '2021-01-05.csv',
 '2021-01-06.csv',
 '2021-01-07.csv',
 '2021-01-08.csv',
 '2021-01-09.csv',
 '2021-01-10.csv',
 '2021-01-11.csv',
 '2021-01-12.csv',
 '2021-01-13.csv',
 '2021-01-14.csv',
 '2021-01-15.csv',
 '2021-01-16.csv',
 '2021-01-17.csv',
 '2021-01-18.csv',
 '2021-01-19.csv',
 '2021-01-20.csv',
 '2021-01-21.csv',
 '2021-01-22.csv',
 '2021-01-23.csv',
 '2021-01-24.csv',
 '2021-01-25.csv',
 '2021-01-26.csv',
 '2021-01-27.csv',
 '2021-01-28.csv',
 '2021-01-29.csv',
 '2021-01-30.csv',
 '2021-01-31.csv',
 '2021-02-01.csv',
 '2021-02-02.csv',
 '2021-02-03.csv',
 '2021-02-04.csv',
 '2021-02-05.csv',
 '2021-02-06.csv',
 '2021-02-07.csv',
 '2021-02-08.csv',
 '2021-02-09.csv',
 '2021-02-10.csv',
 '2021-02-11.csv',
 '2021-02-12.csv',
 '2021-02-13.csv',
 '2021-02-14.csv',
 '2021-02-15.csv',
 '2021-02-16.csv',
 '2021-02-17.csv',
 '2021-02-18.csv',
 '2021-02-19.csv',
 '2021-02-20.csv',
 '2021-02-21.csv',
 '2021-02-22.csv',
 '2021-02-23.csv',
 '2021-02-24.csv',
 '2021-02-25.csv',
 '2021-02-26.csv',
 '2021-02-27.csv',
 '2021-02-28.csv']

# Cria cluster do dask

In [95]:
from dask.distributed import Client

client = Client(n_workers=2, threads_per_worker=2, memory_limit="1GB")
client

C:\Users\felbu\anaconda3\lib\site-packages\distributed\node.py:160: UserWarning: Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the HTTP server on port 49168 instead
  warnings.warn(

# Lê base de dados

In [96]:
import dask.dataframe as dd

In [97]:
df = dd.read_csv('dask_dataframes/2021-*-*.csv')

In [98]:
df.head()

,Unnamed: 0,A,B,C,D,E,Type
0,2021-01-01 00:00:00,0.771390,0.418623,0.623215,0.401876,0.004995,Class3
1,2021-01-01 00:00:01,0.864748,0.440075,0.819741,0.478412,0.866750,Class5
2,2021-01-01 00:00:02,0.864099,0.997717,0.568261,0.435532,0.142110,Class2
3,2021-01-01 00:00:03,0.266226,0.246290,0.889184,0.231991,0.841046,Class2
4,2021-01-01 00:00:04,0.190853,0.347216,0.480630,0.422721,0.290855,Class3

In [99]:
df.tail()

,Unnamed: 0,A,B,C,D,E,Type
86395,2021-02-28 23:59:55,0.412063,0.018430,0.004757,0.023691,0.908250,Class5
86396,2021-02-28 23:59:56,0.398651,0.804245,0.545502,0.643793,0.715667,Class5
86397,2021-02-28 23:59:57,0.835641,0.489529,0.600274,0.920222,0.445715,Class2
86398,2021-02-28 23:59:58,0.839915,0.888782,0.354771,0.341346,0.971440,Class4
86399,2021-02-28 23:59:59,0.747639,0.139655,0.842183,0.567116,0.507573,Class2

In [100]:
df.dtypes

Unnamed: 0     object
A             float64
B             float64
C             float64
D             float64
E             float64
Type           object
dtype: object

In [101]:
df = df.rename(columns={'Unnamed: 0':'date'}).set_index('date')

In [102]:
df.head()

                            A         B         C         D         E    Type
date
2021-01-01 00:00:00  0.771390  0.418623  0.623215  0.401876  0.004995  Class3
2021-01-01 00:00:01  0.864748  0.440075  0.819741  0.478412  0.866750  Class5
2021-01-01 00:00:02  0.864099  0.997717  0.568261  0.435532  0.142110  Class2
2021-01-01 00:00:03  0.266226  0.246290  0.889184  0.231991  0.841046  Class2
2021-01-01 00:00:04  0.190853  0.347216  0.480630  0.422721  0.290855  Class3

In [103]:
df.tail()

                            A         B         C         D         E    Type
date
2021-02-28 23:59:55  0.412063  0.018430  0.004757  0.023691  0.908250  Class5
2021-02-28 23:59:56  0.398651  0.804245  0.545502  0.643793  0.715667  Class5
2021-02-28 23:59:57  0.835641  0.489529  0.600274  0.920222  0.445715  Class2
2021-02-28 23:59:58  0.839915  0.888782  0.354771  0.341346  0.971440  Class4
2021-02-28 23:59:59  0.747639  0.139655  0.842183  0.567116  0.507573  Class2

In [104]:
df.dtypes

A       float64
B       float64
C       float64
D       float64
E       float64
Type     object
dtype: object

In [105]:
df.columns

Index(['A', 'B', 'C', 'D', 'E', 'Type'], dtype='object')

In [106]:
df.index

Dask Index Structure:
npartitions=59
2021-01-01 00:00:00    object
2021-01-02 00:00:00       ...
                        ...
2021-02-28 00:00:00       ...
2021-02-28 23:59:59       ...
Name: date, dtype: object
Dask Name: sort_index, 295 tasks

# Delayed computation

## Exemplo 1

In [107]:
df['A'].max()

dd.Scalar<series-..., dtype=float64>

In [108]:
df['A'].max().compute()

0.9999996676628308

## Exemplo 2

In [109]:
df.groupby('Type').mean()

Dask DataFrame Structure:
                     A        B        C        D        E
npartitions=1
               float64  float64  float64  float64  float64
                   ...      ...      ...      ...      ...
Dask Name: truediv, 374 tasks

In [110]:
df.groupby('Type').mean().compute()

               A         B         C         D         E
Type
Class1  0.500021  0.500159  0.499956  0.499640  0.499770
Class2  0.499678  0.499987  0.499696  0.500180  0.499881
Class3  0.500175  0.499797  0.499966  0.500100  0.499826
Class4  0.500274  0.499719  0.500275  0.500228  0.500256
Class5  0.499999  0.500522  0.500138  0.500192  0.500234

## Exemplo 3

In [111]:
df['F'] = df['A'] + df['B']
df['F'] = df['F'] - df['F'].mean()
media = df['F'].mean()
media

dd.Scalar<series-..., dtype=float64>

In [112]:
media.compute()

-1.3143841877348196e-16

## Exceções (métodos com compute implícito)

In [113]:
df.head()

,A,B,C,D,E,Type,F
date,,,,,,,
2021-01-01 00:00:00,0.771390,0.418623,0.623215,0.401876,0.004995,Class3,0.189947
2021-01-01 00:00:01,0.864748,0.440075,0.819741,0.478412,0.866750,Class5,0.304757
2021-01-01 00:00:02,0.864099,0.997717,0.568261,0.435532,0.142110,Class2,0.861750
2021-01-01 00:00:03,0.266226,0.246290,0.889184,0.231991,0.841046,Class2,-0.487550
2021-01-01 00:00:04,0.190853,0.347216,0.480630,0.422721,0.290855,Class3,-0.461997

In [114]:
df.tail()

,A,B,C,D,E,Type,F
date,,,,,,,
2021-02-28 23:59:55,0.412063,0.018430,0.004757,0.023691,0.908250,Class5,-0.569572
2021-02-28 23:59:56,0.398651,0.804245,0.545502,0.643793,0.715667,Class5,0.202831
2021-02-28 23:59:57,0.835641,0.489529,0.600274,0.920222,0.445715,Class2,0.325104
2021-02-28 23:59:58,0.839915,0.888782,0.354771,0.341346,0.971440,Class4,0.728631
2021-02-28 23:59:59,0.747639,0.139655,0.842183,0.567116,0.507573,Class2,-0.112771

In [115]:
#Cuidado
df.sample(frac=1e-5)

Dask DataFrame Structure:
                           A        B        C        D        E    Type        F
npartitions=59
2021-01-01 00:00:00  float64  float64  float64  float64  float64  object  float64
2021-01-02 00:00:00      ...      ...      ...      ...      ...     ...      ...
...                      ...      ...      ...      ...      ...     ...      ...
2021-02-28 00:00:00      ...      ...      ...      ...      ...     ...      ...
2021-02-28 23:59:59      ...      ...      ...      ...      ...     ...      ...
Dask Name: sample, 829 tasks

In [116]:
df.sample(frac=1e-5).compute()

,A,B,C,D,E,Type,F
date,,,,,,,
2021-01-01 16:05:44,0.216698,0.422936,0.136735,0.519777,0.281843,Class2,-0.360432
2021-01-02 05:02:10,0.702959,0.968581,0.467389,0.280760,0.588853,Class4,0.671475
2021-01-03 11:23:41,0.058967,0.837333,0.218008,0.738216,0.109150,Class1,-0.103765
2021-01-04 18:40:39,0.458153,0.231775,0.776193,0.323275,0.872296,Class5,-0.310138
2021-01-05 15:52:15,0.526649,0.189847,0.285220,0.837124,0.972190,Class5,-0.283570
2021-01-06 04:51:58,0.613946,0.030497,0.746593,0.014059,0.075765,Class5,-0.355622
2021-01-07 15:10:04,0.201701,0.722852,0.418401,0.511798,0.221071,Class1,-0.075512
2021-01-08 20:01:54,0.240889,0.463783,0.500752,0.438822,0.479379,Class3,-0.295394
2021-01-09 22:59:55,0.819946,0.149242,0.148001,0.279625,0.545146,Class4,-0.030877
2021-01-10 00:48:25,0.221782,0.395148,0.369824,0.085677,0.417096,Class4,-0.383135
2021-01-11 21:05:33,0.551098,0.754985,0.918347,0.962306,0.249614,Class5,0.306018
2021-01-12 12:31:44,0.351536,0.056579,0.962215,0.914110,0.149677,Class5,-0.591951
2021-01-13 17:04:09,0.105157,0.925160,0.973801,0.943664,0.210338,Class3,0.030251
2021-01-14 10:11:06,0.045374,0.839662,0.815351,0.228767,0.834807,Class4,-0.115030
2021-01-15 07:04:13,0.899116,0.769633,0.475315,0.080959,0.739558,Class4,0.668683
2021-01-16 22:58:27,0.630941,0.921242,0.582711,0.912336,0.972912,Class1,0.552117
2021-01-17 19:31:47,0.311249,0.178708,0.548833,0.398846,0.368424,Class1,-0.510109
2021-01-18 14:52:51,0.431726,0.136074,0.922368,0.436539,0.422653,Class1,-0.432266
2021-01-19 03:09:59,0.344911,0.242509,0.408877,0.896205,0.305960,Class5,-0.412646
2021-01-20 17:31:43,0.464581,0.374831,0.647358,0.560795,0.492849,Class2,-0.160654
2021-01-21 05:35:57,0.501739,0.290909,0.195732,0.959313,0.417055,Class2,-0.207418
2021-01-22 21:43:37,0.588152,0.911800,0.962586,0.752041,0.296945,Class5,0.499886
2021-01-23 08:57:27,0.088707,0.115248,0.838949,0.764388,0.300371,Class3,-0.796111
2021-01-24 09:30:28,0.989276,0.886326,0.543942,0.627630,0.409077,Class3,0.875537
2021-01-25 08:14:26,0.546467,0.102605,0.148914,0.302929,0.550797,Class3,-0.350994
2021-01-26 12:39:47,0.615149,0.340001,0.960115,0.022981,0.598973,Class3,-0.044917
2021-01-27 03:58:07,0.286421,0.206329,0.500015,0.327812,0.411010,Class4,-0.507316
2021-01-28 01:38:39,0.900989,0.070371,0.573804,0.002517,0.522991,Class3,-0.028707
2021-01-29 07:51:29,0.763248,0.452151,0.921061,0.494122,0.426319,Class2,0.215333
2021-01-30 12:32:06,0.134916,0.449526,0.722438,0.269065,0.527956,Class3,-0.415623
2021-01-31 21:40:26,0.256763,0.689189,0.511259,0.485667,0.836786,Class4,-0.054114
2021-02-01 03:17:05,0.299040,0.283106,0.309697,0.554944,0.469936,Class3,-0.417920
2021-02-02 01:33:23,0.806031,0.515331,0.950641,0.625742,0.003860,Class2,0.321296
2021-02-03 23:47:36,0.301187,0.299611,0.711570,0.977347,0.384294,Class1,-0.399267
2021-02-04 20:32:39,0.102903,0.336582,0.680775,0.749621,0.814232,Class4,-0.560581
2021-02-05 18:53:59,0.051896,0.933221,0.538357,0.692443,0.861232,Class1,-0.014949
2021-02-06 17:27:40,0.583337,0.920456,0.187353,0.631368,0.344019,Class5,0.503728
2021-02-07 12:34:36,0.958384,0.418705,0.898160,0.782100,0.649677,Class1,0.377024
2021-02-08 16:24:10,0.164680,0.903223,0.657340,0.996117,0.606155,Class5,0.067837
2021-02-09 17:41:15,0.592881,0.560740,0.353739,0.456852,0.165457,Class3,0.153556
2021-02-10 13:53:39,0.481995,0.982809,0.863630,0.775496,0.129290,Class2,0.464738
2021-02-11 11:05:26,0.398031,0.576760,0.220686,0.832462,0.488281,Class4,-0.025274
2021-02-12 06:15:13,0.544776,0.219095,0.590338,0.808865,0.721198,Class5,-0.236195
2021-02-13 06:32:00,0.098726,0.390597,0.775808,0.219609,0.490903,Class3,-0.510743
2021-02-14 18:17:37,0.339139,0.638004,0.271665,0.963444,0.112007,Class5,-0.022922
2021-02-15 03:16:38,0.703571,0.358610,0.797791,0.949326,0.137933,Class3,0.062115
2021-02-16 13:47:58,0.300167,0.220182,0.354576,0.429461,0.331124,Class2,-0.479717
2021-02-17 02:51:32,0.136451,0.521897,0.374399,0.819372,0.707599,Class5,-0.341718
2021-02-18 11:56:50,0.703912,0.974681,0.601958,0.087731,0.424519,Class4,0.678528
2021-02-19 17:37:24,0.817947,0.341492,0.775794,0.293861,0.742225,Class5,0.159373
2021-02-20 03:17:03,0.487967,0.080811,0.280704,0.059481,0.071712,Class5,-0.431288
2021-02-21 18:49:48,0.400812,0.946934,0.299518,0.472895,0.187339,Class5,0.347681
2021-02-22 20:47:05,0.258560,0.624441,0.977962,0.265619,0.178056,Class3,-0.117064
2021-02-23 18:04:22,0.422715,0.022413,0.533622,0.577163,0.751563,Class4,-0.554938
2021-02-24 08:10:29,0.029674,0.008486,0.164858,0.820016,0.061550,Class2,-0.961905
2021-02-25 03:02:05,0.332123,0.402037,0.331300,0.745828,0.520572,Class1,-0.265906
2021-02-26 14:55:50,0.330360,0.460106,0.548230,0.859321,0.898115,Class5,-0.209600
2021-02-27 06:23:10,0.417723,0.853761,0.508738,0.511936,0.497138,Class1,0.271418
2021-02-28 09:51:54,0.815955,0.732377,0.874829,0.795580,0.500848,Class3,0.548266

# Semelhanças com pandas

A grande vantagem de Dask sobre, por exemplo, Spark

## Filtrar linhas

In [117]:
df_1 = df[df.Type == 'Class1']

In [118]:
df_1.head()

,A,B,C,D,E,Type,F
date,,,,,,,
2021-01-01 00:00:07,0.827363,0.478525,0.826150,0.728583,0.134825,Class1,0.305822
2021-01-01 00:00:10,0.412788,0.630448,0.956777,0.235059,0.896744,Class1,0.043170
2021-01-01 00:00:15,0.827425,0.857359,0.754480,0.996289,0.672775,Class1,0.684719
2021-01-01 00:00:53,0.825701,0.899504,0.264561,0.261113,0.267173,Class1,0.725139
2021-01-01 00:00:59,0.737701,0.734716,0.432248,0.316197,0.834699,Class1,0.472350

## Selecionar colunas

In [119]:
df_num = df[['A','B','C','D','E','F']]

In [120]:
df_num.head()

,A,B,C,D,E,F
date,,,,,,
2021-01-01 00:00:00,0.771390,0.418623,0.623215,0.401876,0.004995,0.189947
2021-01-01 00:00:01,0.864748,0.440075,0.819741,0.478412,0.866750,0.304757
2021-01-01 00:00:02,0.864099,0.997717,0.568261,0.435532,0.142110,0.861750
2021-01-01 00:00:03,0.266226,0.246290,0.889184,0.231991,0.841046,-0.487550
2021-01-01 00:00:04,0.190853,0.347216,0.480630,0.422721,0.290855,-0.461997

## Estatísticas simples

In [121]:
df.A.mean().compute()

0.5000292140315263

## Group by

In [122]:
df.groupby('Type').agg(['mean','std']).compute()

               A                   B                   C                   D  \
            mean       std      mean       std      mean       std      mean
Type
Class1  0.500021  0.288660  0.500159  0.288619  0.499956  0.288754  0.499640
Class2  0.499678  0.288692  0.499987  0.288781  0.499696  0.288975  0.500180
Class3  0.500175  0.288799  0.499797  0.288944  0.499966  0.288800  0.500100
Class4  0.500274  0.288835  0.499719  0.288691  0.500275  0.288721  0.500228
Class5  0.499999  0.288547  0.500522  0.289014  0.500138  0.288558  0.500192

                         E                   F
             std      mean       std      mean       std
Type
Class1  0.288628  0.499770  0.288719  0.000114  0.408332
Class2  0.288637  0.499881  0.288576 -0.000400  0.408214
Class3  0.288863  0.499826  0.288844 -0.000095  0.408256
Class4  0.288621  0.500256  0.288750 -0.000073  0.408137
Class5  0.288662  0.500234  0.288657  0.000455  0.408246

# O dashboard do Dask

(mostrar o dashboard)

# Resampling

In [89]:
x = df.index.head()
x

Index(['2021-01-01 00:00:00', '2021-01-01 00:00:01', '2021-01-01 00:00:02',
       '2021-01-01 00:00:03', '2021-01-01 00:00:04'],
      dtype='object', name='date')

In [91]:
df = dd.read_csv('dask_dataframes/2021-*-*.csv', )

NotImplementedError: dask.dataframe.to_datetime does not support non-index-able arguments (like scalars)

In [42]:
df.index = df.index.astype('datetime')

TypeError: data type 'datetime' not understood

In [40]:
df_diario = df.resample("1D")

In [41]:
df_media_diaria = df_diario.mean()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'