# Gráficos

## Exercício 1

Crie um dataframe chamado `df` utilizando o código a seguir.

In [3]:
import pandas as pd

df = pd.read_csv(
    "https://raw.githubusercontent.com/nickeubank/practicaldatascience/master/Example_Data/Datasaurus.txt",
    delimiter="\t",
)

df.head()

,example1_x,example1_y,example2_x,example2_y,example3_x,example3_y,example4_x,example4_y,example5_x,example5_y,...,example9_x,example9_y,example10_x,example10_y,example11_x,example11_y,example12_x,example12_y,example13_x,example13_y
0,32.331110,61.411101,51.203891,83.339777,55.993030,79.277264,55.3846,97.1795,51.147917,90.867412,...,47.695201,95.241187,58.213608,91.881892,50.481508,93.222701,65.815540,95.588374,38.337757,92.472719
1,53.421463,26.186880,58.974470,85.499818,50.032254,79.013071,51.5385,96.0256,50.517126,89.102395,...,44.609976,93.075835,58.196054,92.214989,50.282406,97.609984,65.672265,91.933402,35.751871,94.116768
2,63.920202,30.832194,51.872073,85.829738,51.288459,82.435940,46.1538,94.4872,50.207480,85.460047,...,43.856381,94.085872,58.718231,90.310532,50.186703,99.694680,39.002716,92.261838,32.767218,88.518295
3,70.289506,82.533649,48.179931,85.045117,51.170537,79.165294,42.8205,91.4103,50.069482,83.057670,...,41.578929,90.303567,57.278373,89.907607,50.326911,90.022053,37.795303,93.532455,33.729607,88.622266
4,34.118830,45.734551,41.683200,84.017941,44.377915,78.164628,40.7692,88.3333,50.562846,82.937822,...,49.177419,96.610532,58.082020,92.008145,50.456207,89.987410,35.513901,89.599190,37.238249,83.724928

## Exercício 2

Este dataframe, na verdade, contém 13 bases de dados diferentes, cada uma com duas variáveis. Assim, por exemplo, *example1_x* e *exampl1_y* são uma base de dados; *example2_x* e *exampl2_y* são outra base de dados, e assim por diante. 

Para ter uma visão melhor de como essas bases de dados se parecem, escreva um loop que itere sobre cada base de dados (numeradas 1 a 13) e imprima a média e o desvio-padrão para as variáveis x e y de cada exemplo, bem como a correlação entre elas.

Por exemplo, a primeira iteração do seu loop pode retornar algo assim (embora os números serão outros):

```python
Exemplo 1:
Mean x: 23.12,
Mean y: 98.23,
Std Dev x: 21.23,
Std Dev y: 32.238,
Correlation: 0.73
```

Seja elegante: Use duas casas decimais ao imprimir seus resultados.

## Exercício 3
Baseando-se apenas nesses resultados, discuta o que você pode concluir sobre essas vases de dados:

## Exercício 4

Escreva um loop que itere sobre as bases de dados e crie um diagrama de dispersão para as variáveis x e y de cada base.

Dica 1: Ao escrever esse tipo de código, costuma ser mais fácil escrever o código para fazer apenas a primeira iteração. Uma vez esse código estiver funcionando, você pode adaptá-lo e construir um loop em volta.

Dica 2: Dependendo de qual pacote você utilizar, você pode ter que obrigar o Jupyter a mostrar o seu gráfico quando ele é gerado dentro de um loop. Para isso, importe `matplotlib.pyplot` como `plt` e use o comando `plt.show()` após construir o gráfico. Usando o próprio pandas, isso não é necessário. Mas você pode escolher o pacote que preferir.

Dica 3: Você pode ter que mudar os limites dos eixos para que o gráfico fique bonitinho.

## Exercício 5

Olha os gráficos que você gerou.  
A sua percepção dos dados agora muda muito em relação àquela que você tinha quando escreveu sua resposta para o exercício 3?

## Exercicio 6

Vamos analisar dados sobre o _gap_ salarial entre homens e mulheres no Reino Unido. Os dados são provenientes do _Anual Survey of Earnings and Hours_ de 2022 e estão disponíveis [aqui]('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2022/2022-06-28/UK%20Gender%20Pay%20Gap%20Data%20-%202022%20to%202023.csv'). Originalmente, eles foram disponibilizados aqui [gender-pay-gap.service.gov.uk](https://gender-pay-gap.service.gov.uk/viewing/download), junto com um [blog e dashboard](https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/earningsandworkinghours/articles/findoutthegenderpaygapforyourjob/2016-12-09) para você explorar os dados.

Rode o seguinte código para carregar os dados. Nós utilizaremos apenas algumas colunas. Uma delas é categórica ordinal, de modo que teremos que colocar suas categorias em ordem. Tudo isso é feito no código a seguir:

In [304]:
paygap = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2022/2022-06-28/UK%20Gender%20Pay%20Gap%20Data%20-%202022%20to%202023.csv',
                    usecols=['EmployerName',
                             'DiffMedianHourlyPercent',
                             'DiffMedianBonusPercent',
                             'MaleBonusPercent',
                             'FemaleBonusPercent',
                             'EmployerSize'], index_col='EmployerName')

paygap['EmployerSize'] = pd.Categorical(paygap.EmployerSize, categories=["Less than 250", "250 to 499", "500 to 999","1000 to 4999","5000 to 19,999"], ordered=True)

paygap.head(5)

,DiffMedianHourlyPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,EmployerSize
EmployerName,,,,,
ABACUS EMPLOYMENT SERVICES LIMITED,3.2,NaN,0.0,0.0,250 to 499
AFH INDEPENDENT FINANCIAL SERVICES LIMITED,32.0,69.0,2.0,3.0,500 to 999
Allerdale Borough Council,17.0,NaN,0.0,0.0,Less than 250
ALTRAD EMPLOYMENT SERVICES LIMITED,25.0,-23.0,82.0,45.0,"5000 to 19,999"
APPLUS UK LTD,56.0,0.0,9.7,16.7,250 to 499

* `DiffMedianHourlyPercent` é a mediana da diferença percentual entre a remuneração pela hora trabalhada por homens e mulheres (positivo = valor mediano da hora do homem é mais elevado)
* `DiffMedBonusPercent` é a mediana da diferença percentual entre o bônus de homens e mulheres (positivo = valor mediano do bônus do homem é mais elevado)
* `MaleBonusPercent` e `FemaleBonusPercent` são as porcentagens das remunerações pagas a título de bônus para homens e mulheres.
* `EmployerSize` é a faixa de tamanho da empresa, medido em termos do número de empregados.

Cada linha representa uma empresa.

Para começar, calcule as estatísticas descritivas básicas das variáveis da base.

## Exercício 7

Faça um histograma da diferença entre o valor da hora pago a homens e mulheres (`DiffMedianHourlyPercent`)

## Exercício 8

Coloque em um único gráfico as funções densidade de probabilidade de `DiffMedianHourlyPercent` e de `DiffMedianBonusPercent`. Limite o valor do eixo $x$ ao intervalo (-100,100). O que chama atenção a respeito das duas distribuições?

## Exercicio 9

Será que empresas maiores discriminam mais (ou menos) do que empresas menores?  
Vamos analisar a relação entre o gap e o tamanho da empresa.

Faça um gráfico de barras se veja a mediana de `DiffMedianHourlyPercent` para cada porte de empresa.

## Exercício 10

Um gráfico de barras é muito pouco informativo, já que ele só nos dá uma ideia da mediana, não da distribuição como um todo. 
Transforme o gráfico acima em um boxplot, para que possamos ver não apenas a mediana, mas também os demais quartis, máximo, mínimo e eventuais outliers.

## Exercício 11

É de se esperar que empresas que pagam mais bônus para seus funcionários do sexo masculino, também o façam para funcionários do sexo feminino. Será que é isso mesmo?

Faça um diagrama de dispersão dessas duas variáveis

## Exercício 12

Outra forma de se analisar a relação entre essas duas variáveis é observar sua função de densidade conjunta. Construa esse gráfico. Note que os eixos não devem ter valores inferiores a zero, mas nada impede que o bônus seja superior a 100% do salário. Uma sugestão é plotar os eixos com limites em 0 e 120.

O que esse gráfico te sugere sobre como as empresas do Reino Unido utilizam bônus como forma de recompensar seus colaboradores?